* {
			margin:0;
			padding:0;
		  }
			.main-header {
				background-color:#ef2525;
				height:50px;
				width:100%;
				padding: 5px 15px;
				}
				
			.main-header h1 {
				line-height: 25px;
				}
			
			.footer {
				position:absolute;
				bottom: 0;
				right:0;
				left:0;
				height:50px;
				background-color:#ef2525;
				}
			
			.logo {
				color:white;
				}
			
			.copyright {
				color:white;
				width:100%;
				text-align:center;
				padding:15px 0;
				}
			
			.box-shadow {
				box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-webkit-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-moz-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-o-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424
				}
			
			.content-top {
				60%;
				height:180px;
				background-color:#CCC;
				margin:10px 0px;
				}
			
			.content-bio {
				position:relative;
				width:800px;
				height:180px;
				margin:0 auto;
				}
			
			.content-bio img {
				height:170px;
				width:130px;
				margin: 5px 15px 5px 5px;
				}
			
			.bio-text {
				position: absolute;
				top:-5px;
				left:170px;
				}
			
			content-bottom {
				position:relative;
				}
			
			.side-bar {
				float:left;
				background-color:#f1f1f1;
				width:20%;
				height:500px;
				}
			
			.main-content {
				float:right;
				background-color:#cccccc;
				width:76%;
				height:500px;
				padding:0% 2% 0% 2%;
				}
				
			.side-bar-links {
				background-color:#f1f1f1;
				list-style-type:none;
			}
			
		
			.side-bar-links li{
				width: 100%;
				height:30px;
				border:1px solid #CCC;
				border-top:1px solid #FFF
			}
			
			.side-bar-links a {
				padding:10px 10px;
				display:block;
				text-decoration:none;
			}
			
			.side-bar-links a:hover {
				background-color:#CCC;
				color:#000
			}
			
			.gallery h1 {
				margin: 30px 0 15px 0;
			}
			
			.gallery ul {
				list-style-type:none;
				text-align:center;
				margin-top:20px;
			}
			
			.gallery li {
				margin-right:10px;
				display:inline;	
			}
			
			.gallery img{
				width:200px;
				height:150px;
			}