            * {
                margin: 0;
                padding: 0;
            }
            html, body {
                height:100%;
            }
            body {
                min-height:100%;
                display:flex;
                flex-direction:column;
                background-image: url("../images/goodbackground.jpg");
                
            }
            .wrapper {
                flex:1;
            }
            .main-header {
                background-color: #CCC;
                height: 50px;
                width: 70%;
                padding: 5px 15%;
            }
            .main-header h1 {
                line-height: 60px;
                color: white;
            }
            .footer {
                height: 50px;
                background-color: #CCC;
            }
            span.logo {
                color: white;
            }
            .copyright {
                color: blue;
                font-weight: bold;
                width: 100%;
                text-align: center;
                padding: 15px 0;
            }
            .box-shadow {
                box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -webkit-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -moz-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -o-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
            }
            .content-top {
                height: 180px;
                background-color: #CCC;
                margin: 10px 0;
            }
            .content-bio {
                position: relative;
                background-color: #AAA;
                width: 70%;
                max-width:980px;
                height: 180px;
                margin: 0 auto;
            }
            .content-bio img {
                width: 150px;
                height: 170px;
                margin: 5px 15px 5px 5px;
            }
            .bio-text {
                position: absolute;
                top: 5px;
                left: 170px;
            }
            .content-bottom {
                
                width: 70%;
                max-width: 980px;
                position: relative;
                margin: 0 auto;
            }
            .sidebar {
                float: left;
                background-color: #f1f1f1;
                width: 15%;
                height: 500px;
                opacity: 0.85;
            }
            .main-content {
                float: right;
                background-color: #aaaaaa;
                width: 71%;
                height: 500px;
                padding: 0 2% 0 2%;
            }
            .sidebar-links {
                background-color: #f1f1f1;
                list-style-type: none;
               
            }
            .sidebar-links li {
                width: 100%;
                height: 30px;
                border: 1px solid #CCC;
                border-top: 1px solid #FFF;
            }
            .sidebar-links a {
                display: block;
                padding: 7px;
                text-decoration: none;
                transition-duration: 0.7s;
            }
            .sidebar-links a:hover {
                background-color: #CCC;
                color: #000;
            }
			.gallery h1 {
				margin: 30px 0 15px 0;
			}
			.gallery ul {
				list-style-type:none;
				text-align: center;
				margin-top: 20px;
			}
			.gallery li {
				margin-right:10px;
				display:inline;
			}
			.gallery img {
				width:125px;
				height:100px;
			}





        section.one-column{
                margin-top: 30px;
        }
        
        article.main-content-column{
            width:100%;
            padding:0px;
            background-color: transparent;
        }
         
        
		* {
			margin: 0px;
			padding:0;
			/* height: 70px; */
			}
			.main-header {
				background-color:#ef2525;
				height:50px;
				width:100%;
				padding: 5px 0px;
				}
				
			
			
			.footer {
				position:absolute;
				bottom: 0;
				right:0;
				left:0;
				height:50px;
				background-color:#ef2525;
				}
			
			.logo {
				color:white;
				}
			
			.copyright {
				color:white;
				width:100%;
				text-align:center;
				padding:15px 0;
				}
			
			.box-shadow {
				box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-webkit-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-moz-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-o-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424
				}
			
			.content-top {
				width:100%;
				height:180px;
				background-color:#CCC;
				margin:10px 0px;
				}
			
			.content-bio {
				position:relative;
				width:800px;
				height:180px;
				margin:0 auto;
				}
			
		
			
		
			content-bottom {
				position:relative;
				}
			
			
			
			.main-content {
				float:right;
				background-color:lightslategray;
				width:100%;
				height:500px;
				padding:0% 2% 0% 2%;
                opacity: .9;
            }
				
		
			
            div.login-form {
                padding: 20px;
                width: 200px;
                height:250px;
                background-color: #CCC;
                margin: 240px auto 0;
                border-radius: 7px;
                background: rgba(175, 202, 227, 0.2);
            }

            input.login-input {
                width:100%;
                padding:5px, 2px;
                border-radius: 5px;
                margin:7px 0;
                height: 20px;
            }

            h1.h1login{
                margin-bottom:15px;
            }

            h1.course-heading{
                font-size: 25px;
                text-align: center;
                color: white;
            }

            
            p.error-message{
                display:none;
               margin-top:10px;
                padding:5px;
                width:100px;
                color:white;
                background-color: blue;
                border: 1px solid yellow;
                border-radius: 5px;
            }

    p.copyright{
        color: black;
        line-height: 1px;
}

section.three-column {
    overflow: auto;
    margin-top:30px;
    height: 100%;
}

aside.sidebar three-column {
    width:15%;
}

aside.sidebar-right{
    width: 18%;
    background-color: #f1f1f1;
    /* height: 100%; */
    float: right;
    min-height: 481px;
    padding: 1%;
    margin: auto;
    opacity: .7;
}

article.three-column-content{
    width:61%;
    position: absolute;
    left:15%;
    float: none;
}

table.courses-table{
    width:100%;
    font-size: 25px;
}

table.courses-table tr{
    padding:3px, 5px;
    background-color: white;
    border:1px solid #CCC;
    transition-duration: 0.2s;
}
table.courses-table tr:nth-child(even){
    background-color: #CCC
}
table.courses-table tr:hover{
    background-color: cadetblue;
    opacity: .6;
}
table.courses-table td, table.courses-table th{
    
}

input#submit.login {
     height: 30px;
    background: lightsteelblue;
    font-weight: bolder;
    width: 50px;
    border-radius: 10px;
}